@model List<CineWeb.Models.Ticket>
@{
    ViewData["Title"] = "Cart";
}
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cart</title>
</head>

<body>

    <h3>Cart Page</h3>
    <table cellpadding="2" cellspacing="2" border="1">
        <tr>
            <th>Option</th>
            <th>Id</th>
            <th>Name</th>
            <th>Sub Total</th>
        </tr>
     
            <tr>
                <td><a asp-controller="Ticket" asp-action="remove" asp-route-id="@ViewBag.showCart">Remove</a></td>
                <td>@ViewBag.showCart.ID</td>
                 @* <td>@order.showTime.Theater.Name</td>  *@
                <td>@ViewBag.showCart.Row</td>
                <td>@ViewBag.showCart.seatNumber</td>
                <td>@ViewBag.showCart.showTime.Movie.Title</td>
            </tr>
      
        <tr>
            <td align="right" colspan="6">Sum</td>
            <td>
                @ViewBag.total
            </td>
        </tr>
    </table>
    <br>
    <a asp-controller="Ticket" asp-action="index">Continue Shopping</a>

</body>

</html>