@model CineWeb.Models.Ticket
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <h3>Cart Page</h3>
    <table cellpadding="2" cellspacing="2" border="1">
        <tr>
            <th>Option</th>
            <th>Id</th>
            <th>Name</th>
            <th>Sub Total</th>
        </tr>
        @foreach (var order in ViewBag.cart)
        {
            <tr>
                <td><a asp-controller="Ticket" asp-action="remove" asp-route-id="@order">Remove</a></td>
                <td>@order.ID</td>
                <td>@order.seatNumber</td>
                <td>@order.Price</td>
            </tr>
        }
        <tr>
            <td align="right" colspan="6">Sum</td>
            <td>
                @ViewBag.total
            </td>
        </tr>
    </table>
    <br>
    <a asp-controller="Ticket" asp-action="index">Continue Shopping</a>

</body>
</html>