@model List<CineWeb.Models.Ticket>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>

<body>

    <h3>Tickets List</h3>
    <table cellpadding="2" cellspacing="2" border="1">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Photo</th>
            <th>Price</th>

        </tr>
@foreach (var tickets in ViewBag.showTickets)
{
    

        <tr>
            <td>@tickets.ID</td>
            <td>@tickets.showTime.Theater.Name</td>
            <td>@tickets.Row</td>
            <td>@tickets.seatNumber</td>
            <td>@tickets.showTime.Movie.Title</td>
            @* <td>@tickets.price</td> *@
            <td align="center">
                <a asp-controller="Ticket" asp-action="buy" asp-route-id="@tickets.ID">Buy Now</a>
            </td>

        </tr>
}

    </table>

</body>

</html>