@using System.Globalization
@using Microsoft.AspNetCore.Identity
@using CineWeb.Data
@inject SignInManager<CineWebUser> SignInManager
@inject UserManager<CineWebUser> UserManager
@model CineWeb.Models.Order

@{
    ViewData["Title"] = "Checkout";
    Thread.CurrentThread.CurrentCulture = new CultureInfo("en-US", false);
}

<body>
    <div class="container border p-3 mt-4 form-horizontal">
        <div class="row">
            <h2 class="text-center">Checkout</h2>
            <h5 class="text-muted text-center">Please confirm your purchase below.</h5>
            <br>
            <br>
            <table class="col-md-6 col-lg-5 col-xl-9 input-group-md mb-3 mx-auto">
                <thead>
                    <tr>
                        <th colspan="3" class="text-center">
                            @Html.DisplayFor(m => m.ShowTimeId.MovieId.Title)
                            <hr />
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(m => m.ShowTimeId.TimeStart)
                        </td>
                        <td style="text-align:right;">
                            @Html.DisplayFor(m => m.ShowTimeId.TimeStart)
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3"><br /></td>
                    </tr>
                    <tr>
                        <td colspan="3" class="text-center">
                            @Html.DisplayNameFor(m => m.Tickets)
                            <hr />
                        </td>
                    </tr>
                    @foreach (var i in Model.Tickets)
                    {
                            <tr>
                                <td>
                                @Html.DisplayFor(model => i.Type.Name)
                                </td>
                                <td style="text-align:right;">
                                @Convert.ToChar(@i.SeatNumber[0] + 64)@String.Format("{0:00}", @i.SeatNumber[1])
                                </td>
                                <td style="text-align:right;">
                                @String.Format("{0:C}", i.Type.Price)
                                </td>
                            </tr>
                    }
                    <tr>
                        <td colspan="3">
                            <hr />
                        </td>
                    </tr>
                    @{
                        List<Order> tmp;
                        try
                        {
                            tmp = ((AppliedPromo)Model).promoChain();
                            foreach (Order i in tmp)
                            {
                                @:<tr>
                                    @:<td></td>
                                    @:<td style="text-align:right;">Promo</td>
                                    @:<td style="text-align:right;">
                                        try {
                                            @String.Format("{0:C}", ((AppliedPromo)i).calcDiff())
                                        }
                                        catch (InvalidCastException e) {
                                            @:INVALID
                                        }
                                    @:</td>
                                @:</tr>
                            }
                        }
                        catch (InvalidCastException e) { }
                    }
                    <tr>
                        <td></td>
                        <td style="text-align:right;">
                            Total
                        </td>
                        <td style="text-align:right;">
                            @String.Format("{0:C}", Model.calcPrice())
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <b>
            <p class="text-center my-2">Add Promotion</p>
        </b>
        <form>
            <input name="show" id="show" value="@Model.ShowTimeId.ID" type="hidden" />
            <input name="tickets" id="tickets" value="@Model.TicketStr()" type="hidden" />
            <input name="seats" id="seats" value="@Model.SeatStr()" type="hidden" />
            <div class="col-md-6 col-lg-5 col-xl-5 mb-3 mx-auto ">
                <input name="promo" class="form-control" />
            </div>
            <button class="btn bg-primary text-white col-3 mx-auto  mt-2"
                style="horizantal-align:center; justify-content:center; display:flex">Apply Promotion</button>

        </form>
        <b><p class="text-center mt-4">Confirm Payment Method</p></b>
        <a asp-action="CheckoutConfirm" asp-route-ID="@Model.ID" asp-route-DateCreated="@Model.DateCreated" asp-route-UserId="@Model.UserId" asp-route-ShowTimeId="@Model.ShowTimeId" asp-route-Tickets="@Model.Tickets" style=@(SignInManager.IsSignedIn(User) ? "pointer-events:auto;" : "pointer-events:none;")>
            <button class="btn bg-success text-white col-3 mx-auto  mt-2" style="horizantal-align:center; justify-content:center; display:flex" @(SignInManager.IsSignedIn(User) ? "" : "disabled")>
                <form action="/Order/Checkout/Charge" method="POST">

            <script src="//checkout.stripe.com/v2/checkout.js" class="stripe-button"  data-locale="auto" style="btn bg-success text-white col-3 mx-auto  mt-2"
                data-key="@ViewBag.StripePublishKey" ><button>Confirm Purchase</button>
                </script>
        </form>
        </a>

        @* Payment*@
        @if (!SignInManager.IsSignedIn(User))
        {
                <div class="col-md-6 col-lg-5 col-xl-9 input-group-md my-4 mx-auto">
                    <h5 class="text-muted text-center mt-4">Sorry! You must be logged in to confirm your purchase. Please use the link below to log in. When you're done, simply refresh this page.</h5>
                    <a asp-area="Identity" asp-page="/Account/Login" target="_blank">
                        <button class="btn btn-primary text-white col-3 mx-auto  mt-2" style="horizantal-align:center; justify-content:center; display:flex">Log In</button>
                    </a>
                </div>
        }
    </div>
</body>
