@model IEnumerable<CineWeb.Models.ShowTime>

@{
    ViewData["Title"] = "Index";
}

<h1>ShowTime List</h1>

<p>
    <a asp-action="Create"><button class="btn bg-success text-white">Create New</button></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TimeStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeEnd)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TimeStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeEnd)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn bg-primary text-white">Edit</a>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn bg-primary text-white">Details</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn bg-primary text-white">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
