@model CineWeb.Models.MovieCategoryView

@{
    ViewData["Title"] = "Index";
}

<h1>Movie List</h1>

<p>
    <a asp-action="Create"><button class="btn bg-success text-white">Add Movie</button></a>
</p>
<form asp-controller="Movies" asp-action="Index" method="get">
    <p>

        <select asp-for="MovieCategory" asp-items="Model.Categories">
            <option value="">All</option>
        </select>

        Title: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Movies[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movies[0].Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movies[0].Director)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movies[0].Producer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movies[0].Synopsis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movies[0].Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movies[0].RunningTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Movies) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Director)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Producer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Synopsis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RunningTime)
            </td>
             @* <td>
               <img src="@item.MoviePicture" width="100" height="100" asp-append-version="true"/>
            </td> *@
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID"><button class="btn bg-primary text-white">Edit</button></a> 
                <a asp-action="Details" asp-route-id="@item.ID"><button class="btn bg-primary text-white">Details</button></a> 
                <a asp-action="Delete" asp-route-id="@item.ID"><button class="btn bg-primary text-white">Delete</button></a>
            </td>
        </tr>
}
    </tbody>
</table>
