@model CineWeb.Models.MoviePromotion

@{
    ViewData["Title"] = "Delete";
}

<body>
    <div class="container border p-3 mt-4 form-horizontal">
        <div class="row">
            <h2 class="text-center">Delete Promotion</h2>
            <h5 class="text-muted text-center">Are you sure you want to delete @Html.DisplayFor(model => model.Code)?</h5>
            <br>
            <br>
            <div>
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Description)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Description)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Type)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Type)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Deal)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Deal)
                    </dd>
                </dl>
                <form asp-action="Delete">
                    <input type="hidden" asp-for="ID" />
                    <input type="submit" value="Delete" class="btn btn-danger col-3 mx-auto text-white" style="horizantal-align:center; justify-content: center; display: flex" />
                    <br/>
                </form>
            </div>
            <a asp-action="Index" class="btn btn-primary col-3 mx-auto text-white" style="horizantal-align:center; justify-content: center; display: flex">Back to List</a>
        </div>
    </div>
</body>
