@model CineWeb.Models.MoviePromotion

@{
    ViewData["Title"] = "Details";
}

<<<<<<< HEAD
<h1> @Html.DisplayFor(model => model.PromoCode) Details</h1>
=======
<h1> @Html.DisplayFor(model => model.Promotion) Details</h1>
>>>>>>> 93e733a5530dca2056f78f76a71997e066823721

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
<<<<<<< HEAD
            @Html.DisplayNameFor(model => model.PromoDescript)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PromoDescript)
=======
            @Html.DisplayNameFor(model => model.Promotion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Promotion)
>>>>>>> 93e733a5530dca2056f78f76a71997e066823721
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PromoCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PromoCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PromoDeal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PromoDeal)
        </dd>
    </dl>
</div>
<div>
<<<<<<< HEAD
    <a asp-action="Edit" asp-route-id="@Model?.ID"><button class="btn bg-primary text-white">Edit</button></a>
=======
    <a asp-action="Edit" asp-route-id="@Model?.Id"><button class="btn bg-primary text-white">Edit</button></a>
>>>>>>> 93e733a5530dca2056f78f76a71997e066823721
    <a asp-action="Index"><button class="btn bg-primary text-white">Back to List</button></a>
</div>
