@model CineWeb.Models.MoviePromotion
@using System.Globalization

@{
    ViewData["Title"] = "Details";
    Thread.CurrentThread.CurrentCulture = new CultureInfo("en-US",false);
}

<h1> @Html.DisplayFor(model => model.Code) Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Deal)
        </dt>
        <dd class = "col-sm-10">
            @(Model.Type == "flat" ? String.Format("{0:C}", Model.Deal) : String.Format("{0:P0}.", Model.Deal))
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Artifacts)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Artifacts)
        </dd>
        <dt class = "col-sm-2">
            Valid Thru
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Start) - @Html.DisplayFor(model => model.End)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID" style="pointer-events:none;"><button class="btn bg-primary text-white" disabled="true">Edit</button></a> 
    <a asp-action="Index"><button class="btn bg-primary text-white">Back to List</button></a>
</div>
