@model CineWeb.Models.MoviePromotion

@{
    ViewData["Title"] = "Details";
}

<h1> @Html.DisplayFor(model => model.PromoCode) Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PromoDescript)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PromoDescript)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PromoCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PromoCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PromoDeal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PromoDeal)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID"><button class="btn bg-primary text-white">Edit</button></a>
    <a asp-action="Index"><button class="btn bg-primary text-white">Back to List</button></a>
</div>
