@model IEnumerable<CineWeb.Models.MoviePromotion>

@{
    ViewData["Title"] = "Index";
}

<h1>Promotion List</h1>
<p>
    <a asp-action="Create"><button class="btn bg-success text-white">Create New</button></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                Valid Thru
            </th>
            <th colspan="3"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(model => item.Code)
            </td>
            <td>
                @Html.DisplayFor(model => item.Description)
            </td>
            <td> 
                @{
                    if (item.Start < DateTime.Now && DateTime.Now < item.End) {
                        @:<b>
                            @:@Html.DisplayFor(model => item.Start) - @Html.DisplayFor(model => item.End)
                        @:</b>
                    }
                    else {
                        @:@Html.DisplayFor(model => item.Start) - @Html.DisplayFor(model => item.End)
                    }
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID" style="pointer-events:none;"><button class="btn bg-primary text-white" disabled="true">Edit</button></a> 
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.ID" class="btn bg-primary text-white">Details</a> 
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.ID" class="btn bg-primary text-white">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
